@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
/*font-family: 'Nunito', sans-serif;*/
body{
	background-color:#f5f5f5;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	background-image: linear-gradient(to top,#1c3b8e,#162a67,#0b1538);
    /*background: url(../_img/bg02.jpg) no-repeat;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.navbar-vertical{
	display:block;
	width:100%;
	display:inline-block;
	margin:0;
	padding:0;
	-webkit-transition: margin .25s ease-out;
  	-moz-transition: margin .25s ease-out;
  	-o-transition: margin .25s ease-out;
  	transition: margin .25s ease-out;
	
}

.navbar-brand{
	width:100%;
	color:#fff;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	font-weight: 600;
	margin:20px 0px 15px 0px;
}

.sidebar-nav{
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
}

.nav-item{
	padding:0;
	margin:0;
}

.nav-item:hover{
	background-size:200%;
	background-image: linear-gradient(to left,#162a67,#0a1330);
}

.navbar-link{
	display:block;
	width:100%;
	font-family:'Nunito', sans-serif;
	font-weight: 600;
	font-size:16px;
	color:#fff;
	padding:15px 40px;
	margin:0;
}

.navbar-link:hover{
	text-decoration:none;
	color:#fff;
}

.submenu li{
	width:100% !important;
	padding:0px 60px;
	margin:0;
	background-color:#122760;
}

.submenu li a{
	font-family:'Nunito', sans-serif;
	font-weight: 400;
	margin:0;
	font-size:14px;
	color:#fff;
}

.submenu li a:hover{
	color:#fff;
}

.navbar-main{
	display:block;
	width:100%;
	padding:0px 20px 10px 20px;
}

.navbar-main span{
	margin:0;
	font-family:'Nunito', sans-serif;
	font-weight: 400;
	font-size:11px;
	color:#c3c3c3;
}

.title{
	margin-left:7px;
	
}

#icon{
	font-size:17px;
}

.active{
	background-size:200%;
	background-image: linear-gradient(to left,#162a67,#0a1330)!important;
	color:#fff !important;
}

/* MENU SUPERIOR */

#menu-toggle{
	font-size:25px; 
	color:#162a67; 
	box-shadow: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.centralizar{
	text-align: center;
	justify-content: center;
	align-content: center;
}