<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\VendaProduto $vendaProduto
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $vendaProduto->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $vendaProduto->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Venda Produtos'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Vendas'), ['controller' => 'Vendas', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Venda'), ['controller' => 'Vendas', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Produtos'), ['controller' => 'Produtos', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Produto'), ['controller' => 'Produtos', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="vendaProdutos form large-9 medium-8 columns content">
    <?= $this->Form->create($vendaProduto) ?>
    <fieldset>
        <legend><?= __('Edit Venda Produto') ?></legend>
        <?php
            echo $this->Form->control('venda_id', ['options' => $vendas]);
            echo $this->Form->control('produto_id', ['options' => $produtos]);
            echo $this->Form->control('quantidade');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
