<div class="table-title p-3 rounded-top shadow">

    <div class="row">
        <div class="col-6 pl-4">
            <h2>Administração de <b>Vendas</b></h2>
        </div>

        <div class="col-2">
        </div>

        <div class="col-4 pr-4">
            <?= $this->Html->link('Adicionar', ['action' => 'add'], ['class' => 'btn btn-success float-right shadow-sm']) ?>

            <a href="#" class="btn btn-danger float-right shadow-sm mr-2" data-target="#modalMult_Deletar" data-toggle="modal"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>

</div>
<div class="crud px-3 bg-white rounded-bottom shadow">
    <div class="row">
        <div class="col-12">
            <table class="table bg-white table-borderless mt-2 table-hover table-striped table-responsive-lg table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                        <th scope="col"><?= $this->Paginator->sort('cliente') ?></th>
                        <th scope="col"><?= $this->Paginator->sort('status') ?></th>
                        <th scope="col"><?= $this->Paginator->sort('data') ?></th>
                        <th scope="col"><?= $this->Paginator->sort('valor') ?></th>
                        <th scope="col" class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($vendas as $venda) : ?>
                        <tr>
                            <td><?= $this->Number->format($venda->id) ?></td>
                            <td><?= $venda->has('cliente') ? $this->Html->link($venda->cliente->nome, ['controller' => 'Clientes', 'action' => 'view', $venda->cliente->id]) : '' ?></td>
                            <td><?= $venda->status ? "Venda" : "Cotação" ?></td>
                            <td><?= h($venda->created) ?></td>
                            <td><?= "R$ " . $venda->valor ?></td>
                            <td class="actions">
                                <?= $this->Html->link(__('Ver'), ['action' => 'view', $venda->id]) ?>
                                <?= $this->Html->link(__('Editar'), ['action' => 'edit', $venda->id]) ?>
                                <?php //$this->Form->postLink(__('Delete'), ['action' => 'delete', $venda->id], ['confirm' => __('Are you sure you want to delete # {0}?', $venda->id)]) 
                                ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <div class="paginator">
                <ul class="pagination">
                    <?= $this->Paginator->first('<< ' . __('first')) ?>
                    <?= $this->Paginator->prev('< ' . __('previous')) ?>
                    <?= $this->Paginator->numbers() ?>
                    <?= $this->Paginator->next(__('next') . ' >') ?>
                    <?= $this->Paginator->last(__('last') . ' >>') ?>
                </ul>
            </div>
        </div>
    </div>
</div>